.loginPage{
    color: rgba(0, 0, 0, 0.911);
}

.bismiAllah{
    text-align: center;
    font-size: large;
    padding: 1em;
    text-shadow: 2px 2px 6px rgb(5, 235, 5);
    font-weight: 400;
}
.loginForm{
    background-color: #ffffff;
    width: 400px;
    margin: 2em auto;
    padding: 3em;
    border-radius: 8px;
}
/* input[type="text"], input[type="password"],button{
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 2.0px solid #4CAF50;
    border-radius: 4px;
    transition: all 0.3s ease-in;
} 
input[type="text"], input[type="password"]:focus{
    border: 2.0px solid #247527;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-in;
}



button{
    background-color:#29942d;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;

}
button:hover{
    background-color: #48d44d;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;

}
*/